#search{
	margin-top: 30px;
	float: left;
}
#header{
	background-color: #227DC3;
}
#menu-top {
	margin-top: 50px;
	text-align: center;
}
#menu-top.nav-pills >li+li {
	margin-left: 20px;
}
#menu-top img{
	max-height: 50px;
}
#menu-top.nav-pills span{
	color:#B1D021;
}
